<!DOCTYPE html>
<html lang="en" ng-app>
<head>
    <title>Hack: bigbox</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <script src="assets/js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/todo.js"></script>
    <link rel="stylesheet" href="css/todo.css">
 </head>
<body>

<!-- -->
    <div class="span12">
         <div class="span4"></div>
         <div class="span8">
 
           <div class='container'>
                <div class="pull-center">
                <h1 class="active"><a href="#">bigbox</a></h1>
                <div ng-controller="TodoCtrl"> 
                <form ng-submit="addTodo()">
                    <!-- <input type="text" ng-model="selected" typeahead="state for state in states | filter:$viewValue | limitTo:8"> -->
                    <!-- <input type="text" ng-model="todoText" size="30" placeholder="add new todo here"> -->
                  <textarea type="text" 
                            ng-model="todoText"
                            id="new_message"
                            maxlength="40" 
                            name="new_message" 
                            placeholder="keywords: twitter!, duckduckgo!, local!"
                            accesskey="e" 
                            tabindex="1"
                            rows="6"
                            cols="40"
                            autofocus></textarea>
                         <input class="btn-primary btn btn-info pull-bottom" type="submit" value="enter &#8626;">
               </form>

               <hr>
               <div class="row-fluid marketing">
               <div class="span6">
               <ul class="unstyled">
               <li ng-repeat="todo in todos">
               <input type="checkbox" ng-model="todo.done">
               <span class="done-{{todo.done}}">{{todo.text}}</span>
               </li>
               </ul>
               </div>
               </div></div>
      </div>

      <div class="footer">
        <p>Bigbox &copy; 2013</p>
      </div>

               </div>
               </div>
            </div>
        </div>
      <hr>

<!-- -->
</body>
</html>
