<!DOCTYPE html>
<html lang="en" ng-app="bigbox">
<head>
    <meta charset="utf-8">
    <title>⌨bigbox</title>
    <!-- responsive -->
    <!-- end responsive -->
    <!-- meta -->
    <!-- end meta -->
    <!-- bootstrap -->
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <!-- bootstrap -->
    <!-- angular -->
    <script src="js/angular.min.js"></script>
    <script src="js/angular-resource.min.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.5.0.js"></script>
    <!-- end bootstrap -->
    <script src="js/json2.js"></script>
    <!-- bb code -->
    <script src="js/hack_5_controller.js"></script>
</head>

<body>
    <div class="row">
    <div class="row-fluid">
        <div class="span4"></div>
        <div class="span2">
            <h1 class="text-left">⌨bigbox</h1>
       </div>
       <div class="span4"></div>
    </div>
    <div class="span4"></div>
    <!-- main controls -->
    <div class="span5" ng-controller="BigboxCtrl">
            <!-- main entry controls -->
            <div class="controls-controls-row">
                 <form class="form-search">
                     <div class="input-append">
                          <input class="span3 search-query" 
                              id="focusedInput"
                              ng-model="term"
                              accesskey="c" 
                              tabindex="1"
                              type="text"
                              placeholder="enter command :)"
                              value="" 
                              autofocus>
                          <button class="btn" tabindex="2" ng-click="search(term)"><i class="icon-search"></i> <b>enter &#8626;</b></button>
                     </div>
                 </form>
            </div>
            <!-- end main entry controls -->
            <hr/>
            <div>
                <!-- main report controls -->
                <table class="table table-striped table-condensed table-hover">
                    <caption class="text-left">
                        <span><i class="icon-list icon-black"></i> <b>History</b></span> 
                    </caption>
                    <tr>
                        <th>Search</th>
                    </tr>
                    <tr class="table-striped" ng-repeat="entry in results" tabindex="4">
                        <td>{{entry}}</td>
                    </tr>
                </table>
                <!-- end main report controls --> 
            </div>
            </br>
    </div>
    <div class="span3"></div>
    <div class="span12">
    <div class="span12">
        <div class="span4"></div>
        <div class="span4">
            <ul class="inline text-left">
            <li><a href="https://github.com/peterrenshaw/bigbox/blob/master/ABOUT"><i class="icon-user icon-black"></i> About</a>
            <li><a href="http://twitter.com/peterrenshaw"><i class="icon-envelope icon-black"></i> Contact</a>
            <li><a href="/tests"><i class="icon-ok icon-black"></i> Tests</a>
            <li><a href="http://github.com/peterrenshaw/bigbox"><i class="icon-wrench icon-black"></i> Hack</a>
            </ul>
        </div>
        <div class="span5"></div>
    </div>
    </div>
    </div>
    <p class="text-center">Bigbox &copy; 2013 build 0.1.0</p>
</body>
</html>
